
  .lang-switch {
    margin-top: 20px;

    a {
      border: 1px black solid;
      border-radius: 3px;
      padding: 10px;
      text-decoration: none;
      color: black;
      margin-right: 5px;

      &:hover {
        background: lightgray;
      }
    }
  }

